* {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
  width: 200px;
  text-align: center;
  float: left;
}

.Ex {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  background-color: var(--green);
  color: white;
  padding: 20px;
}

.Ex:hover {
  background-color: orange;
  color: black;
}
